* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
  height:100vh;
  background-color: #001021;
}

footer {
    background-color: #F7B32B;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:150px;
}

button {
    pointer-events: auto;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

button::before,
button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
    width: 50%;
    height: 70px;
    border-radius: 3px;
    font-family: 'Mina', sans-serif;
}

textarea {
    width: 50%;
    height: 200px;
    border-radius: 3px;
    resize: none;
    margin: 25px 0px;
}

form {
    text-align: center;
}

.txt-center {
    text-align: center;
}

.m-bottom50 {
    margin-bottom: 50px;
}

.m-bottom150 {
    margin-bottom: 150px;
}
/* Titre pour chaque section */
.titresection {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 165px;
    font-family: 'Coiny', cursive;
    font-size: 43px;
}

.block_title {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    margin-bottom: 70px;
}

.block_title:before,.block_title:after {
    content: "";
    background: #F7B32B;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 42%;
    vertical-align: middle;
}

.block_title:before {
    right: 0.5em;
    margin-left: -42%;
}

.block_title:after {
    left: 0.5em;
    margin-right: -42%;
}
/* Quand on sélectionne du texte/image ect sur la page */
::selection{
    background-color: #F7B32B;
    color: white;
}

::-moz-selection {
    background-color: #F7B32B;
    color: white;
}

/* Section Header */

/* Barre de navigation */

/* Texte "Accueil", "A propos" ect */
.txt-nav {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #001021;
    letter-spacing: .10rem;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    font-size: 2vh;
}

.txt-nav:hover {
    color: #fff;
    transition-duration: 0.2s;
}

.navbar-toggler {
    z-index: 1;
}
/* Background header */
.area {
    background: #F7B32B;
    width: 100%;
    height:100vh;
    z-index: 2;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #fff;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
/* Titre "Bastien Mézière Développeur Web" */
.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context, #type-text {
    text-align: center;
    color: #001021;
    font-size: 4vh;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.blinking-cursor {
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
    color: #001021;
    font-size: 40px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
  @keyframes blink {
    to {
      visibility: hidden;
    }
}

/* Section A propos */

/* Image SVG */
.forme-propos {
    width: 90%;
    height: 460px;
    border: 5px solid #F7B32B;
    padding: 15px;
}
/* Forme couleur bordeaux */
.forme-propos2 {
    width: 100%;
    height: 600px;
    background: #750D37;
    border: 5px dashed #fff;
    padding: 40px;
}

.p-propos {
    color: #fff;
    font-size: 1.4em;
    font-family: 'Mina', sans-serif;
}

/* Section Projet */

/* Titre "Projet" */
.titreprojets {
    color: #fff;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-top: 50px;
    font-family: 'Coiny', cursive;
    font-size: 43px;
    text-shadow: 0px 0px 8px #001021;
}
/* Fond jaune */
.section-projets {
    margin-top: 150px;
    background: #F7B32B;
    height: 100%;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

#projets {
    margin: 125px 0px;
}

.card-space {
    margin-bottom: 30px;
}
/* Card projet */
.card {
    width: 100%;
    height: 350px;
    background: #fff;
    margin: 0.6em;
    border-radius: 4px;
    box-shadow:0 2px 10px rgb(0, 0, 0);
    border: 15px solid #001021;
}

.card:before,
.card:after
{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 3px solid #001021;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
}

.card:hover:before {
    transform: rotate(20deg);
    background: #fff;
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card:hover:after {
    transform: rotate(10deg);
    background: #fff;
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
}

.card:hover .imgBx
{
    bottom: 80px;
}

.card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #750D37;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* Section Contact */

/* Phrase reCaptcha Google */
.phrasecaptcha {
    text-align: center;
    color: #fff;
    margin: 50px 0px 100px 0px;
    font-family: 'Mina', sans-serif;
}

.lien-recaptcha {
    color: #F7B32B;
    text-decoration: none;
}

.lien-recaptcha:hover {
    color: #750D37;
    transition-duration: 0.2s;
}
/* On cache le recaptcha Google */
.grecaptcha-badge {
    opacity: 0;
}
/* Bouton "Envoyer" */
.boutoncontact {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-top: 40px;
    border-radius: 7px;
    padding: 15px 25px;
    overflow: hidden;
    background: #750D37;
    color: #fff;
    border: none;
    font-family: 'Coiny', cursive;
}

.boutoncontact span {
	position: relative;
}

.boutoncontact::before {
	content: '';
	background: #F7B32B;
	width: 120%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.boutoncontact:hover::before {
	transform: translate3d(100%,0,0);
}

.boutoncontact:active {
    transform: scale(1.2);
    transition-duration: 0.2s;
}
/* Input/Textarea */
.input-nom {
    margin-bottom: 25px;
}

.input-reste {
    margin: 25px 0px;
}

.form-control:focus {
    border: 4px solid #750D37;
    box-shadow: 12px 8px 8px #001021;
}
/* Placeholder dans les input + textarea */
.section-contact input::placeholder {
    color: #750D37;
    font-family: 'Mina', sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.section-contact textarea::placeholder {
    color: #750D37;
    font-family: 'Mina', sans-serif;
    font-size: 19px;
    font-weight: 600;
}

/* Section Footer */

/* Texte Footer */
.txt-footer {
    text-align: center;
    color: #001021;
    font-family: 'Fredoka One', cursive;
    font-size: 1.1em;
}
/* Logo GitHub */
.btn-github {
    color: #000;
    font-size: 12px;
}

.btn-github:hover {
    color: #fff;
    transition-duration: 0.2s;
}

/* Loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #001021;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.loader-container.hidden {
    opacity: 0;
    visibility: hidden;
}
.loader {
    width: 120px;
    height: 120px;
    border: 6px solid  #fff;
    border-radius: 50%;
    border-top-color: #F7B32B;
    border-bottom-color: #F7B32B;
    border-left-color: #F7B32B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 1s linear 4;
}

@keyframes spin {
100% {
    transform: translate(-50%, -50%) rotate(360deg);
}
}